@font-face {
    font-family: Heading;
    src: url(./fonts/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: font2;
    src: url(./fonts/63cffc20aa8997095067596f_Satoshi-Light.woff);
}

@font-face {
    font-family: font3;
    src: url(./fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dadada;
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #111;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 2000px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #222;
            width: 100%;
            @include flex-column(5rem);
            padding: 1.5rem;
            border-radius: 0.7rem;

            p {
                font-family: font3;
                font-size: 1rem;
                font-weight: 600;
            }

            .text {
                @include flex-column(1rem);

                h1 {
                    font-family: Heading;
                    font-weight: 200;
                    text-transform: uppercase;
                    font-size: 3rem;
                    line-height: 3.2rem;
                }

                p {
                    font-family: font2;
                    font-weight: 200;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    background-color: #333;
                    color: #dadada;
                }
            }
        }
    }

    section.view2 {
        width: 100%;
        padding: 1rem;
        @include flex-column(2rem);
        display: flex;
        flex-direction: column;

        .top,
        .bottom {
            width: 100%;
            display: flex;
            justify-content: space-around;
            gap: 4rem;

            .element {
                text-align: center;
                @include flex-column(0.2rem);

                small {
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    opacity: 0.8;
                }

                h2 {
                    font-size: 3rem;
                    font-weight: 400;
                }
            }
        }
    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #222;
            width: 100%;
            padding: 1.5rem;
            border-radius: 0.7rem;
            @include flex-column(5rem);

            p {
                font-family: font3;
                font-size: 1rem;
                font-weight: 600;
            }

            .text {
                @include flex-column(1rem);

                h1 {
                    font-family: Heading;
                    font-weight: 200;
                    text-transform: uppercase;
                    font-size: 3rem;
                    line-height: 3.4rem;
                }

                p {
                    font-family: font2;
                    font-weight: 200;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }

            }
        }
    }

    section.view4 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #222;
            width: 100%;
            @include flex-column(5rem);
            padding: 1.5rem;
            border-radius: 0.7rem;

            .bottom>p {
                font-family: font3;
                font-size: 1rem;
                font-weight: 600;
            }

            .text {
                @include flex-column(1rem);

                h1 {
                    font-family: Heading;
                    font-weight: 200;
                    text-transform: uppercase;
                    font-size: 3rem;
                    line-height: 3.2rem;
                }

                p {
                    font-weight: 200;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
            }
        }
    }

    section.view5 {
        width: 100%;
        @include flex-column(0.5rem);


        .top {
            display: flex;
            // justify-content: flex-end;
            gap: 0.4rem;
            padding: 0.5rem 2rem;

            h1 {
                font-size: 2rem;
                font-weight: 500;
                font-family: Heading;
            }

        }

        .bottom {
            width: 100%;
            padding: 0rem 1rem;
            @include flex-column(1rem);
            justify-content: space-between;

            .card {
                width: 100%;
                padding: 0.5rem;
                @include flex-column(1rem);
                justify-content: space-between;

                .icon {
                    width: fit-content;
                    padding: 1rem;
                    background-color: #7979797d;
                    border-radius: 50%;
                    backdrop-filter: blur(5px);
                    display: inline-flex;
                    font-size: 1.2rem;
                }

                .top {
                    display: flex;
                    justify-content: flex-end;
                    gap: 0.4rem;
                    padding: 0.5rem 1rem;
                }


                .bottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background: #5656567d;
                    padding: 1rem;
                    border-radius: 0.7rem;
                    backdrop-filter: blur(5px);

                    p {
                        font-family: Heading;
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        margin: 0;
                    }

                    .para {
                        font-family: font3;
                        font-size: 1.2rem;
                    }
                }



            }

            #card1 {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 0.7rem;
                background: url(./images/team1.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            #card2 {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 0.7rem;
                background: url(./images/team2.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            #card3 {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 0.7rem;
                background: url(./images/team3.webp);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    section.view6 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .bottom {
            background-color: #c7b769;
            width: 100%;
            @include flex-column(1rem);
            padding: 2rem;
            border-radius: 0.7rem;

            .text {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            h1 {
                font-family: font3;
                font-size: 1.2rem;
                font-weight: 400;
                color: #111
            }

            p {
                font-family: Heading;
                font-size: 3rem;
                color: #111;
                line-height: 3rem;
                text-transform: uppercase;
            }

            button {
                padding: 1rem 3rem;
                border-radius: 0.7rem;
                border: none;
                outline: none;
                background-color: #111;
                color: #dadada;
                font-family: font3;
                font-size: 1.2rem;
            }
        }
    }

    footer {
        width: 100%;
        padding: 0.5rem 1rem;
        @include flex-column(1rem);

        .part1 {
            width: 100%;
            background-color: #222;
            border-radius: 0.7rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4rem;

            .top {
                width: 100%;

                h1 {
                    font-family: Heading;
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }

            .icon {
                border-radius: 50%;
                background-color: rgba(113, 113, 113, 0.405);
                backdrop-filter: blur(5px);
                width: fit-content;
                padding: 0.5rem;
                font-size: 1.4rem;
            }
        }

        .part2 {
            background-color: #222;
            width: 100%;
            border-radius: 0.7rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .p1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                h1 {
                    font-family: Heading;
                    font-size: 1.6rem;
                    font-weight: 300;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    list-style: none;

                    li {
                        opacity: 0.8;
                        font-size: 1.1rem;
                        font-weight: 200;
                        font-family: font3;
                        text-decoration: none;
                    }
                }
            }

        }

        .part3 {
            background-color: #222;
            width: 100%;
            border-radius: 0.7rem;
            padding: 2rem 1.5rem;

            display: flex;
            justify-content: center;
            align-items: center;


            h1 {
                display: flex;
                flex-wrap: wrap;
                gap: 0.4rem;

                text-align: center;
                font-family: font3;
                font-size: 1.1rem;
                font-weight: 300;
                color: #dadada;
                line-height: 1.6rem;

                a {
                    color: #e2e2e2;
                    text-decoration: none;
                    font-weight: 400;
                    transition: opacity 0.2s ease;
                    text-align: center;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

    }
}

@media (min-width: 900px) {
    main {

        section.view1 {
            flex-direction: row;
            padding: 2.4rem 1rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1.2rem;

                    h1 {
                        font-size: 3.6rem;
                        line-height: 3.8rem;
                    }

                    p {
                        width: 80%;
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 0.5rem 1rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .bottom>p {
                    text-transform: uppercase;
                }

                .paragraph {
                    display: flex;
                    gap: 2rem;
                    padding: 0 2rem 0 0;

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view4 {
            flex-direction: row;
            padding: 0.5rem 1rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1.2rem;

                    h1 {
                        font-size: 3.6rem;
                        line-height: 3.8rem;
                    }

                    p {
                        width: 80%;
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view5 {
            .bottom {
                display: flex;
                flex-direction: row;
            }
        }

        section.view6 {

            .bottom {
                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 3rem;
                    flex-direction: row;

                    p {
                        padding: 0 8rem 0 0;
                        line-height: 4rem;
                        font-size: 4rem;
                    }

                    button {
                        width: 30%;
                        padding: 1rem 0rem;
                        font-size: 1rem;
                    }
                }
            }
        }

        footer {
            display: grid;
            grid-template-columns: 0.5fr 1fr 1fr;
            grid-template-rows: 3fr 0.5fr;
            grid-template-areas:
                "part1 part2 part2"
                "part1 part3 part3";
            gap: 1rem;

            .part1 {
                grid-area: part1;
            }

            .part2 {
                flex-direction: row;
                justify-content: space-between;
                padding: 3rem;
                grid-area: part2;
            }

            .part3 {
                grid-area: part3;
            }
        }

    }
}

// @media (min-width: 1200px) {
//     // main{

//     // }
// }